<div (click)="closePanel()" class="fixed inset-0 z-80 bg-black opacity-50"></div>

<div class="fixed inset-0 z-80 flex items-center justify-center p-4 pointer-events-none">
   <div class="flex w-full max-w-120 flex-col items-center justify-center rounded-3xl bg-backgroundbeige p-6 pointer-events-auto sm:min-h-50 sm:rounded-4xl">
      <p class="mb-5 text-center text-base sm:mx-12">Är du säker på att du vill radera denna bok? Du kan alltid se och återställa raderade böcker senare.</p>
      <div class="grid w-full grid-cols-1 gap-3 sm:grid-cols-2">
         <app-button class="[&>button]:w-full" (click)="closePanel()">Nej, avbryt</app-button>
         <app-button class="[&>button]:w-full" color="bg-red-700" hoverColor="hover:bg-red-900" (click)="deleteBook()">Ja, radera</app-button>
      </div>
   </div>
</div>
