<div
   class="flex items-center rounded-full bg-[#EEE7D3] text-headerbrown p-3 w-full sm:w-100"
   [ngClass]="{ 'sm:-mt-10': desktopRaised }">
   <i class="fa-solid fa-magnifying-glass ml-2"></i>
   <input
      type="text"
      placeholder="SÖK BOK ELLER FÖRFATTARE"
      class="bg-transparent border-none outline-none min-w-0 flex-1 ml-3 text-sm sm:text-base"
      [value]="searchString()"
      (input)="searchString.set($any($event.target).value)"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
   />
   @if (searchString() != '') {
      <i class="fa-regular fa-circle-xmark cursor-pointer text-lg mx-2" (click)="searchString.set('')"></i>
   }
</div>
