/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
   --color-bookolive: #778154;
   --color-bookolive-dark: #5a6140;
   --color-backgroundbeige: #F5EFDB;
   --color-headerbrown: #4A1810;
}

h1, h2, h3, div {
   font-family: 'Cabin', sans-serif;
}

h4, h5, a {
   font-family: 'Alumni Sans', sans-serif;
}

h6 {
   font-family: 'Amiri', serif;
}

html, body {
  height: 100%;
  overflow: hidden;
  color: black;
}

.cabin-font {
   font-family: 'Cabin', sans-serif;
}

.alumni-font {
   font-family: 'Alumni Sans', sans-serif;
}

.amiri-font {
   font-family: 'Amiri', serif;
}

.book-properties {
   @apply text-headerbrown text-2xl font-semibold;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.selectedItem {
   background-color: #3b82f6;
   color: white;
}

@layer components {
   .form-text-input {
      @apply border border-gray-300 rounded-lg px-3 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900 bg-white
   } 
}