/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
   --color-bookolive: #778154;
   --color-backgroundbeige: #F5EFDB;
   --color-headerbrown: #4A1810;
}

h1, h2, h3, div {
   font-family: 'Cabin', sans-serif;
}

h4, h5, a {
   font-family: 'Alumni Sans', sans-serif;
}

h6 {
   font-family: 'Amiri', serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.amiri-font {
   font-family: 'Amiri', serif;
}