<div class="flex flex-col flex-1 ml-25 mr-15 pt-17 h-full">
   <h1 class="text-5xl font-bold text-bookolive">BOKSAMLING</h1>
   <div class="flex justify-between mt-5">
      <div class="flex">
         <div class="flex items-center justify-center">
            <div class="flex mr-5">
               <h5 
                  [cdkMenuTriggerFor]="sortMenu"
                  cdkMenuItem 
                  class="text-3xl text-headerbrown font-medium cursor-pointer"
               >
                  sortering: {{ sortBy().clearText }}
               </h5>
               @if (sortAscending()) {
                  <i class="fa-solid fa-arrow-down text-headerbrown text-xl ml-2 mt-2 cursor-pointer" (click)="sortAscending.set(false)"></i>
               } @else {
                  <i class="fa-solid fa-arrow-up text-headerbrown text-xl ml-2 mt-2 cursor-pointer" (click)="sortAscending.set(true)"></i>
               }
            </div>
            
            <ng-template #sortMenu>
               <div class="inline-flex gap-1 flex-col min-w-[180px] max-w-[280px] bg-white" cdkMenu>
                  <button class="example-menu-item" cdkMenuItem (click)="setSortOrder('title', 'Titel')">Titel</button>
                  <button class="example-menu-item" cdkMenuItem (click)="setSortOrder('authors.0.lastName', 'Författare, efternamn')">Författare, efternamn</button>
                  <button class="example-menu-item" cdkMenuItem (click)="setSortOrder('authors.0.firstName', 'Författare, förnamn')">Författare, förnamn</button>
                  <button class="example-menu-item" cdkMenuItem (click)="setSortOrder('yearWritten', 'Utgivningsår')">Utgivningsår</button>
                  <button class="example-menu-item" cdkMenuItem (click)="setSortOrder('createdAt', 'Tillagd')">Tillagd</button>
                  <button class="example-menu-item" cdkMenuItem (click)="setSortOrder('isbn', 'ISBN')">ISBN</button>
                  <button class="example-menu-item" cdkMenuItem (click)="setSortOrder('numberOfCopies', 'Antal')">Antal exemplar</button>
                  <button class="example-menu-item" cdkMenuItem (click)="setSortOrder('rating', 'Betyg')">Betyg</button>
               </div>
            </ng-template>
         </div>
   
         <div class="flex items-center justify-center">
            <app-filter-list [booksOriginal$]="booksOriginal$" [booksFiltered]="booksFiltered"></app-filter-list>
         </div>
      </div>
      <div class="rounded-full bg-[#EEE7D3] text-headerbrown p-3 w-100">
         <i class="fa-solid fa-magnifying-glass ml-2"></i>
         <input type="text" placeholder="SÖK BOK ELLER FÖRFATTARE" class="bg-transparent border-none outline-none w-8/10 ml-3" />
      </div>
   </div>

   <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 mt-5 overflow-scroll max-h-full">
      @for (book of booksFiltered(); track book.id) {
         <app-book-card [book]="book"></app-book-card>
      }
   </div>
</div>
