<header class="w-full h-35 bg-headerbrown flex justify-between items-center">
   <div class="ml-20 w-1/2 flex">
      <app-burger-menu backgroundColor="backgroundbeige" class="mr-40">
         <a routerLink="/" class="text-2xl">Start</a>
      </app-burger-menu>
      <a routerLink="/shelf" class="text-3xl text-backgroundbeige mr-40">BOKHYLLA</a>
      <a routerLink="/scan" class="text-3xl text-backgroundbeige mr-40">SKANNA</a>
      <a routerLink="/search" class="text-3xl text-backgroundbeige">SÖK</a>
   </div>
</header>
