<div class="flex items-start w-90">
   <div class="w-4/10 aspect-[2/3] mb-10 flex items-start justify-center overflow-hidden shrink-0">
      <img [src]="book.coverLink ? book.coverLink : 'book-cover-placeholder.png'" alt="Omslagsbild för {{ book.title }}" class="cursor-pointer block h-full w-auto max-w-full max-h-full object-contain object-top" [routerLink]="'/books/' + book.id">
   </div>
   <div class="ml-2">
      <a routerLink="/books/{{ book.id }}" class="cursor-pointer hover:underline">
         <p class="font-bold amiri-font">{{ book.title }}</p>
      </a>
      <p>
         @for (author of book.authors; track author.id) {
            <a routerLink="/authors/{{ author.id }}" class="hover:underline cursor-pointer">
               <span class="amiri-font">{{ author.firstName }} {{ author.lastName }}</span>
               @if (!$last) {
                  <span class="amiri-font">, </span>
               }
            </a>
         }
      </p>
      <p class="amiri-font">{{ book.yearWritten }}</p>
   </div>
</div>