<div class="flex items-start">
   <img [src]="book.coverLink ? book.coverLink : 'book-cover-placeholder.png'" alt="Omslagsbild för {{ book.title }}" class="cursor-pointer w-40/100 aspect-[2/3] mb-10" [routerLink]="'/books/' + book.id">
   <div class="ml-2">
      <a routerLink="/books/{{ book.id }}" class="cursor-pointer hover:underline">
         <p class="font-bold amiri-font">{{ book.title }}</p>
      </a>
      <p>
         @for (author of book.authors; track $index) {
            <a routerLink="/authors/{{ author.id }}" class="hover:underline cursor-pointer">
               <span class="amiri-font">{{ author.firstName }} {{ author.lastName }}</span>
               @if (!$last) {
                  <span class="amiri-font">, </span>
               }
            </a>
         }
      </p>
      <p class="amiri-font">{{ book.yearWritten }}</p>
   </div>
</div>